@import "_mixins.scss";
@import "_variables.scss";

* {
    padding: 0 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

#menu__toggle {
    opacity: 0;
}

.header {
    height: 1000px;
    background-image: url(/img/bg_header.png);
    display: flex;
    justify-content: space-between;
        &__logo {
            padding: 50px 165px;
        }
        &-nav {
            width: 50%;
            .menu {
                padding: 70px 40px;
                display: flex;
                justify-content: space-between;
                    &__item {
                        list-style-type: none;
                        padding-left: 0;
                        }
            &__link {
                @include large-text-w700-dark;
                font-size: 16px;
                text-transform: uppercase;
                list-style-type: none;
                        }
            &__link:hover {
                border-top: 3px solid #ff6033;
                        }
                }
        }
        &__content {
            position: absolute;
            top: 360px;
            left: 164px;
            > h1 {
                margin: 0;
                color: #262626;
                font-family: "Raleway", sans-serif;
                font-size: 60px;
                font-weight: bold;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
            }
            > p {
                margin: 34px 0 31px 0;
                width: 368px;
                @include large-text-w300-dark;
            }
        }
        &__button {
            @include button-style;
            background-color: #ff6033;
            > a {
                margin: 6px 0;
                @include button-text;
            }
            &:hover {
                @include button-hover;
            }
        }
}

.main {
    &-about {
        height: 700px;
        background-color: #00baba;
        display: flex;
        justify-content: center;
    }
    &-service {
        background-color: #70bfff;
        height: 790px;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    &-gallery {
        padding-bottom: 30px;
        background-color: #ffe92f;
    }
    &-subscribe {
        height: 500px;
        background-image: url(/img/bg-subscribe.png);
        background-position: right;
        background-repeat: no-repeat;
    }
    &-blog {
        height: 864px;
        background-color: #b07cf7;
    }
    &-contact {
        height: 866px;
        background-image: url(/img/bg-contact.png);
        background-size: cover;
        background-position: center;
    }
}
.about {
    &__img {
        background-image: url(/img/about_img.png);
        background-repeat: no-repeat;
        background-size: 80%;
        width: 50%;
    }
    &__content {
        margin: 180px 0;
        > h1 {
        @include large-text-w700-white;
        }
        > p {
            width: 500px;
            @include large-text-w300-white;
        }
    }
}
.service {
    &-content {
        max-width: 400px;
        &__block {
            background-color: #fff;
            width: 100%;
            height: 100px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            padding: 25px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: 100px;
                height: 100%;
                width: 1px;
                background-color: black;
            }
            > h1 {
                display: flex;
                text-align: center;
                align-items: center;
                color: #262626;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                padding-left: 50px;
            }
            &--third > h1 {
                padding: 0 30px 0 0;
            }
        }
    }
    &-img {
        background-image: url(/img/img_copy.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 40%;
        height: 100%;
        text-align: center;
        > h1 {
            margin-top: 50%;
            @include large-text-w700-white
        }
    }
}
.gallery {
    &__text {
        text-align: center;
        padding-top: 100px;
    > h1 {
        @include large-text-w700-dark;
    }
    > p {
        margin: 28px auto 46px auto;
        width: 577px;
        @include large-text-w300-dark;
    }
    }
    &-top {
        display: flex;
    }
    &-top-content {
        
        > img {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
        &__second {
            padding-left: 30px;
        }
        &__third {
            padding-left: 30px;
            margin-top: 30px;
        }
    }
    &-bot{
        display: flex;
    }
    &-bot-content {
        margin-top: 30px;
        > img {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
        &__first > img {
            width: 100%;
        }
        &__second {
            padding-left: 30px;
        }
    }
    &__button {
        @include button-style;
        margin: 50px auto;
        background-color: #5585a2;
        > a {
            margin: 6px 0;
            @include button-text;
        }
        &:hover {
            @include button-hover;
        }
    }
}
.subscribe {
    &-text {
        display: flex;
        flex-direction: column;
        padding: 145px 0 0 165px;
        > h3 {
            @include large-text-w700-dark;
            font-size: 40px;
            margin: auto;
        }
        > p {
            width: 541px;
            @include large-text-w300-dark;
        }
    }
    &-form {
        display: flex;
        padding: 31px 0 0 165px;
        > form {
            width: 570px;
            height: 55px;
            > input {
                width: 570px;
                height: 55px;
                border: 1px solid #262626;
                padding: 22px 15px;
            }
        }
    }
    &__button {
        @include button-style;
        margin-left: 30px;
        width: 170px;
        background-color: #96b92c;
        > a {
            margin: 6px 0;
            @include button-text;
        }
        &:hover {
            @include button-hover;
        }
    }
}
.blog {
    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        > h1 {
            @include large-text-w700-white;
        }
        > p {
            @include large-text-w300-white;
            width: 563px;
            text-align: center;
        }
    }
    &-content {
        display: flex;
        justify-content: center;
        > section {
            width: 370px;
            height: 310px;
            position: relative;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            margin-top: 47px;
        }
        &-first {
            background-image: url(/img/blog-first.png);
            right: 30px;
            z-index: 1;
            > h3 {
                position: relative;
                top: 155px;
                text-align: left;
                padding: 20px;
                width: 307px;
                @include large-text-w700-white;
                font-size: 20px;
            }
            > p {
                position: relative;
                top: 127px;
                text-align: left;
                padding: 20px;
                font-size: 13px;
                font-family: "Raleway-Light", sans-serif;
                font-weight: 300;
                color: #fff;
            }
        }
        &-second {
            background-image: url(/img/blog-second.png);
            z-index: 2;
            > h3 {
                position: relative;
                top: 155px;
                text-align: left;
                padding: 20px;
                width: 307px;
                @include large-text-w700-white;
                font-size: 20px;
            }
            > p {
                position: relative;
                top: 127px;
                text-align: left;
                padding: 20px;
                font-size: 13px;
                font-family: "Raleway-Light", sans-serif;
                font-weight: 300;
                color: #fff;
            }
        }
        &-third {
            background-image: url(/img/blog-third.png);
            left: 30px;
            z-index: 1;
            > h3 {
                position: relative;
                top: 155px;
                text-align: left;
                padding: 20px;
                width: 307px;
                @include large-text-w700-white;
                font-size: 20px;
            }
            > p {
                position: relative;
                top: 127px;
                text-align: left;
                padding: 20px;
                font-size: 13px;
                font-family: "Raleway-Light", sans-serif;
                font-weight: 300;
                color: #fff;
            }
        }
    }
    &__button {
        @include button-style;
        margin: 50px auto;
        width: 170px;
        background-color: #f72b3b;
        > a {
            @include button-text;
        }
        &:hover {
            @include button-hover;
        }
    }
}
.contact {
    &-title {
        padding-top: 100px;
        text-align: center;
        > h1 {
            @include large-text-w700-dark;
        }
        > p {
            margin: 48px auto;
            width: 20%;
            @include large-text-w300-dark;
        }
    }
    &-content {
        display: flex;
        justify-content: center;
        &-form {
            padding-right: 170px;
            .form {
                display: flex;
                flex-direction: column;
                input,
                textarea {
                width: 500px;
                height: 50px;
                margin-bottom: 15px;
                padding: 20px 20px;
                background: #00c4c4;
                border: none;
                color: white;
                }
                textarea {
                    width: 500px;
                    height: 250px;
                    resize: none;
                }
                input:focus,
                textarea:focus {
                    outline: none;
                    background: rgba(126, 224, 224, 1);
                    transition: background 0.3s;
                    border-left: 5px solid #355b82;
                }
                input::-webkit-input-placeholder,
                textarea::-webkit-input-placeholder {
                    color: white; 
                    font-family: "Raleway", sans-serif;
                }
            }
        }
        &-text {
            > h3 {
                @include large-text-w700-dark;
                font-size: 17px;
            }
            > p {
                @include large-text-w300-dark;
            }
        }
    }
}

.footer {
    &-content {
        height: 90px;
        display: flex;
        justify-content: space-between;
        background-color: #262626;
        color: #b9b9b9;
        > p {
            margin: 37px;
            color: #b9b9b9;
            font-size: 16px;
            font-weight: 300;
        } 
        &__img {
            margin-top: 32px;
        }
    }
    .span_love {
    color: #ff2b58;
    }
}



@media screen and (min-width: 320px) and (max-width: 1198px) {
    .header {
        background-position: top;
        position: relative;
        display: block;
        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            > P {
                width: 100%;
            }
        }
        &__logo {
            display: flex;
            justify-content: center;
            padding: 50px 0;
        }
        &-nav {
            width: 100%;
        }
    }
    .main {
        &-about {
            display: flex;
            flex-direction: column;
        }
        &-blog {
            height: 1544px;
        }
        &-contact {
            height: 100%;
        }
    }
    .about {
        &__img {
            width: 70%;
            position: absolute;
            height: 80%;
            left: 50%;
            transform: translate(-50%);
            background-position: center;
        }
        &__content {
            margin: 0 auto;
            z-index: 2;
            > h1, > p {
                color:#262626;
                text-align: center;
                font-weight: 400;
            }
            > p {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    .service {
        &-img {
            width: 100%;
            position: absolute;
            height: 800px;
            > h1 {
                margin: 0;
                padding-top: 20px;
                font-size: 60px;
            }
        }
        &-content {
            z-index: 2;
            &__block {
                > h1 {
                    padding-left: 20px;
                }
            }
        }
       }
    .gallery {
        &__text > p {
            width: 80%;
            margin: 0 auto;
        }
        &-top,
        &-bot {
            flex-direction: column;
            margin: 0 auto;
        }
            &-top-content,
            &-bot-content {
                display: flex;
                width: 100%;
                padding: 15px 0;
                margin: 0 0;
                justify-content: center;
            
                &__first > img,
                &__second > img,
                &__third > img {
                    width: 80%;
                }

            }
        }
    .subscribe {
        &-text {
            padding: 0 0;
            > h1 {
                text-align: center;
            }
            > p {
                width: 100%;
                text-align: center;
                font-weight: 700;
            }
        }
        &-form {
            padding: 0 0;
            flex-direction: column;
            > form {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 5px;
                > input {
                    width: 80%;
                    height: 20px;
                }
            }
        }
        &__button {
            margin: 10px auto;
        }
    }
    .blog {
        &-text {
            > p {
                width: 100%;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            > section {
                width: 310px;
                background-repeat: no-repeat;
            }
            &-first,
            &-third {
                left: 0;
            }
        }
        &__button {
            margin: 30px auto;
        }
    }
    .contact {
        &-title {
            > h1 {
                font-size: 60px;
            }
            > p {
                width: 100%;
            }
        }
        &-content {
            flex-direction: column;
            &-form {
                display: flex;
                justify-content: center;
                padding: 0;
                .form {
                    > input,
                    textarea {
                        width: 90%;
                    }
                }
            }
            &-text {
                text-align: center;
            }
        }
    }
    .footer {
        &-content {
            > p {
                margin: 20px 0;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1198px) {
    .gallery {
        &-top,
        &-bot {
            max-width: 100%;
        }
            &-top-content,
            &-bot-content {
                display: flex;
                width: 100%;
                padding: 15px 0;
                margin: 0 0;
                justify-content: center;
            }
                &__first > img,
                &__second > img,
                &__third > img {
                    width: 80%;
                }
    }
    .col-md-3,
    .col-md-6 {
        max-width: 100%;
    }
    .blog {
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            > section {
                width: 370px;
                background-repeat: no-repeat;
            }
        }
    }
    .contact {
        &-content {
            flex-direction: column;
            &-form {
                display: flex;
                justify-content: center;
                padding: 0;
                .form {
                    > input,
                    textarea {
                        width: 500px;
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        .burger-img {
            display: flex;
            align-items: center;
            position: fixed;
            left: 20px;
            top: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
            > span, > span::before, > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #616161;
            }
                > span::before {
                    content: '';
                    top: -8px;
                }
                > span::after {
                    content: '';
                    top: 8px;
                }
            }
        .menu {
            display: none;
            position: fixed;
            left: 0px;
            top: 50px;
            width: 300px;
            padding: 80px 0;
            text-align: center;
            background-color: #0b141a;
            z-index: 3;
            &__link {
                display: block;
                padding: 12px 24px;
                @include large-text-w300-white;
                text-decoration: none;
            }
        }
        #menu__toggle:checked ~ .burger-img > span {
            transform: rotate(45deg);
        }
        #menu__toggle:checked ~ .burger-img > span::after {
            top: 0;
            transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .burger-img > span::before {
            top: 0;
            transform: rotate(0);
        }
        #menu__toggle:checked ~ .menu {
            display: block;
        }
    }
}